/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;

}

ul{
    list-style-type: none;
}

/* ////////////// HEADER ////////////// */

header {
    background-color: deepskyblue;
}

.headertop {
    width: 100%;
    background-color: white;
    padding: 0 30px;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 500;
    
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* debug */

}

.lx-header{
    display: flex;
    align-items: center;
}

.headertop a{
    text-decoration: none;
    color: rgb(133, 131, 131);
    font-size: 23px;
    margin-left: 30px;
}

/*DA RIVEDERE IL COLOR*/

#logo{
    width: 170px;
}

/*----------------------*/

/*classe generale btn*/

.btn{
    background-color: rgb(147, 137, 220);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-decoration: none;
}

.jumbotron {
    width: 60vw;
    margin: 0 auto;
    padding-top: 100px;
}

/*style contenuto jumbotron*/

.jumbotron h1{
    font-size: 7rem;
    font-weight: 800;
}

.content-jumbotron{

    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 30px;

    
}

.lx-content ul{
    line-height: 50px;

}

.lx-content a{
    text-decoration: none;
    font-size: 20px;
}

.lx-content p{
    font-size: 20px;
    margin-bottom: 20px ;
}

#jumbo{
    width: 1000px;

}

/* ////////////// MAIN ////////////// */

/*CLASSE GENERALE CONTAINER*/

.container{

    width: 55vw;
    margin: 0 auto;
}

.plan-price {
    padding: 100px;

    /* debug */

}

.c-price h1{
    font-size: 50px;
    margin-bottom: 70px;
}
.roundbox{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 50px;
    
}

/*Style cards*/

.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card{
    width: calc((100% - 100px) / 3);
    border: solid 2px black;
    margin-top: 100px;
}

.type{
    border-bottom: solid 1px black;
    text-align: center;
    padding: 10px;
}


.content-c{
    line-height: 40px;
    margin-bottom: 20px;
    padding:30px;
    font-size: 20px;
}
.btn-c{
    line-height: 70px;
}

/*Cards orizzontale*/
.h-cards{
    width: 100%;
    border: solid 1px black;

    /* flex */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.type-h{
    margin-top: 40px;
    border: solid 1px black;
    text-align: center;
    padding: 10px;
}

.contact {
    width: 100%;
    /* debug */

    background-color: yellow;
    height: 70vh;
}

.c-contact {

    /* debug */
    height: 70vh;
    border: dashed 5px black;

}

.function {

    /* debug */
    height: 115vh;
    background-color: violet;
}

.c-function {


    /* debug */
    height: 115vh;
    border: dashed 5px black;

}


.partner {

    /* debug */
    height: 100vh;
    background-color: tomato;
}

.title-function {

    margin-bottom: 10vh;

    /* debug */
    height: 25vh;
    border: dashed 5px black;

}

.partner-block {

    /* debug */
    height: 65vh;
    border: dashed 5px black;
}

.demo {

    /* debug */
    height: 500px;
    background-color: teal;
}

.faq {

    /* debug */
    height: 75vh;
    background-color: seagreen;
}

.c-faq {



    /* debug */
    height: 75vh;
    border: dashed 5px black;
}

/* ////////////// FOOTER ////////////// */

footer {

    /* debug */
    background-color: black;
    height: 60vh;

}

.footer-c {
    width: 75vw;
    margin: 0 auto;



}

.f-top {


    /* debug */
    border: dashed 5px rgb(255, 255, 255);
    height: 40vh;
}

.f-bottom {

    /* debug */
    border: dashed 5px rgb(255, 255, 255);
    height: 20vh;
}