/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;

}

ul {
    list-style-type: none;
}


/*Classe generale per h1 */

.title-c {
    font-size: 50px;
}

/* ////////////// HEADER ////////////// */

header {
    background-color: deepskyblue;
}

.headertop {
    width: 100%;
    background-color: white;
    padding: 0 30px;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 500;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* debug */

}

.lx-header {
    display: flex;
    align-items: center;
}

.headertop a {
    text-decoration: none;
    color: rgb(133, 131, 131);
    font-size: 23px;
    margin-left: 30px;
}

.headertop .btn {
    color: white;
}

/*DA RIVEDERE IL COLOR*/

#logo {
    width: 170px;
}

/*----------------------*/

/*classe generale btn*/

.btn {
    background-color: rgb(147, 137, 220);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-decoration: none;
}

.jumbotron {
    width: 60vw;
    margin: 0 auto;
    padding-top: 100px;
}

/*style contenuto jumbotron*/

.jumbotron h1 {
    font-size: 7rem;
    font-weight: 800;
}

.content-jumbotron {

    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 30px;


}

.lx-content ul {
    line-height: 50px;

}

.lx-content a {
    text-decoration: none;
    font-size: 20px;
}

.lx-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

#jumbo {
    width: 1000px;

}

/* ////////////// MAIN ////////////// */

/*CLASSE GENERALE CONTAINER*/

.container {

    width: 55vw;
    margin: 0 auto;
}

.plan-price {
    padding: 100px;

    /* debug */

}

.c-price h1 {

    margin-bottom: 70px;
}

.roundbox {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 50px;

}

/*Style cards*/

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    width: calc((100% - 100px) / 3);
    border: solid 2px rgb(188, 186, 186);
    margin-top: 100px;
}

.type {
    border-bottom: solid 2px rgb(188, 186, 186);
    text-align: center;
    padding: 10px;
}


.content-c {
    line-height: 40px;
    margin-bottom: 20px;
    padding: 30px;
    font-size: 20px;
}

.btn-c {
    line-height: 70px;
}

/*Cards orizzontale*/
.h-cards {
    width: 100%;
    border: solid 2px rgb(188, 186, 186);

    /* flex */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.type-h {
    margin-top: 40px;
    border: solid 2px rgb(188, 186, 186);
    text-align: center;
    padding: 10px;
}


.c-contact {
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;


}

.c-contact img {
    width: 900px;
}

.information {
    font-size: 25px;
    padding: 50px;
}

.information p {
    margin: 40px 0;
}

.btn-light {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.type2 {
    border: none;
}

.c-function img {
    width: 100%;
}

.function {
    margin-top: 100px;
    font-size: 20px;
}




.title-function {
    margin-top: 200px;
}

.title-function a {
    font-size: 20px;
}

/*---------------------------*/

.partner-block {
    margin-top: 150px;
    width: 100%;
    height: 70vh;

    /* flex */
    display: flex;

}

/*Blocchi laterali*/
.side-block {
    /* flex */
    display: flex;
    flex-wrap: wrap;
}

/*blocco dell'immagine */
.img-block {
    width: calc(100% / 2);
    height: calc(100% / 2);
    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-block img {
    filter: invert(1);
    width: 50%;

}

/*blocco centrale*/

.center-block {
    width: calc(100% / 2);
}

.img-block-center {
    width: 100%;
    padding: 100px;
    line-height: 35px;
    font-size: 20px;
}

.img-block-center img {
    margin-bottom: 40px;
}

/*colori dei blocchi*/

.green {
    background-color: rgb(175, 210, 123);
}

.red {
    background-color: red;
}

.skyblue {
    background-color: skyblue;

}

.blue {
    background-color: blue;

}

.yellow {
    background-color: rgb(234, 234, 129);

}

.brown {
    background-color: brown;
}

.grey {
    background-color: rgb(220, 218, 218);
}

/*------------------------------*/

.demo {
    height: 40vh;
    background-color: rgb(215, 217, 255);
    /* flex */
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
 
}
.demo a{
    font-size: 25px;
    border:none;
    padding: 15px 60px;
    color: rgb(103, 101, 101);
}

/*------------------------------*/


.c-faq {
    padding: 200px 0;
    line-height: 130px;
}

.bordertop{
    border-top: 1px black solid;
}
.faq-box{
    font-size: 23px;
    border-bottom: 1px black solid;
}

/* ////////////// FOOTER ////////////// */

footer {
    background-color: black;
}

.footer-c {
    width: 75vw;
    margin: 0 auto;
}

.f-top { 
    padding: 100px 0;
    /* flex */
    display: flex;
    justify-content: space-between;

}
.f-top h2{
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
}

.f-top a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 22px;
}

.f-bottom {
    color: white;
    font-size: 25px;
    height: 20vh;
    /* flex */
    display: flex;
    align-items: center;

}